html, body{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#root{
    width: 60%;
    height: auto;
    margin-top: 50px;
}

.navbar{
    width: 100%;
    height: auto;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    margin-bottom: 100px;
}

.navbar a{
    color: #000000;
    float: left;
    padding-left: 17%;
    text-decoration: none;
    transition-duration: 100ms;
}
.navbar a:hover{
    color: #ffffff;
}

.content{
    margin-top: 100px;
    width: 100%;
    float: left;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
}
.content img{
    margin: 50px;
    float: left;
}